@import url(../../App.css);

.create-equipo {
  width: 100%;
  padding: 2rem;
  position: relative;
}

.create-equipo form {
  margin-bottom: 2rem;
}

.input-group {
  margin-bottom: .5rem;
}

.input-group span {
  display: flex;
  justify-content: center;
  width: 10rem;
  font-size: 10px;
}

.table-data {
  text-align: center;
  font-size: 12px;
}

.botonVolver{
  border: none;
  padding-bottom: 10px;
  background-color: #FFFFFF;
  color: #0D6EFD;
}