@import url('../../App.css');

.homeLanding {
}

.titleLanding {
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    font-size: 60px;
    font-weight: bold;
    color: #FFFFFF;
}

@media (min-width: 768px) {
    .homeLanding {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 1rem;
        height: 10vh;
    }

    nav div {
        display: flex;
        align-items: center;
    }

    nav div img {
        width: 50px;
        margin-right: 1rem;
    }

    nav div p {
        color: var(--rm-blue);
        font-weight: bold;
        font-size: 1.5rem;
    }

    .homeLanding article {
        display: flex;
        justify-content: space-evenly;
        padding-top: 2rem;
        background-image: url(../../images/background-10.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        height: 90vh;
    }

    article .card {
        width: 45%;
        background-color: var(--fourth-color);
        height: fit-content;
    }

    article .card .card-body {
        display: flex;
        flex-direction: column;
    }

    article .card .card-body .nav-button {
        align-self: flex-end;
    }
}