.background-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;
  z-index: 4;
}

.spinner-container {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, 0%);
  z-index: 5;
}